# Python cache & compiled files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
ENV/
env/

# Environment variables & Credentials
.env
*.env


# Memory & database files
walle_memory/
*.db

#Documents
Repository File Structure & Cleanup Guide.md
Motortest
